body {
    background-color: black;
    margin: 0;
}

main {
    margin: 0;
}

header {/* padding: 100px 0px 0px 5px;  */ 
    padding-top: 8%; 
    font-size: 20px; 
    color:black; 
    background-color: white; 
    margin: 0; 
    width: 100%; 
    background-image: url(./squares.svg); 
    font-family: 'Oswald', sans-serif; 
    background-size: 100% 100%; 
    height: 250px; 
    box-sizing: border-box;
}

h1 {
    margin-left: 3.5em;
    display: inline;
    font-weight: 700;
    font-family: 'Oswald', sans-serif;
}

h2, h3 { 
    font-family: 'Oswald', sans-serif;
}

section {
    padding: 1em 10%;
}

iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

footer {
    padding: 1em 10%;
    color: white;
}


/* reused colors patterns */

.sectionWhite {
    background-color: white;
    color:black;
}
.sectionBlack {
    background-color: black;
    color:white;
    margin: 0;
    box-sizing: border-box;
}

.infoBlack {
    background-color: black;
    color: white;
}

.infoWhite {
    background-color: white;
    color: black;
}

/* layout section */

.topbar {
    background-color: black;
    color: white;
    position: sticky;
    top: 0px;
    position:-webkit-sticky;
    padding: 0.9em;
    margin: 0;
    justify-content: space-between;
}

.topbar span {
    padding: 0px 5em;
    width: 30%;
    margin-left: 5em;
    margin-right: 1em;
}
    
.twoColumns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    background-color: white;
}

.threeColumns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2em;
    width: 100%;
}

.fourColumns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 2em;
    width: 100%;
}

.insideColumn {
    margin: 0;
    box-sizing: border-box;
}


/* individual elements */
.box {
    width: 100%;
    background-color: white;
    padding: 1em 2em 3em 4em;
    margin-bottom: 2em;
    border: 3px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-shadow: -5px 5px black;
    box-sizing: border-box;
}

.videoBox {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    box-shadow: -3px 3px #000;
    border: 2px solid gray;
    width: 100%;
}


.whereToMakeContact {
    padding: 1em;
    width: 100%;
    background-color: white;
    box-sizing: border-box;
}







