body {
    background-color: white;
    margin: 0;
}

main {
    margin: 0;
}

header {/* padding: 100px 0px 0px 5px;  */ 
    padding-top: 8%; 
    font-size: 20px; 
    color:black; 
    background-color: white; 
    margin: 0; 
    width: 100%; 
    background-image: url(./squares.svg); 
    font-family: 'Oswald', sans-serif; 
    background-size: 100% 100%; 
    height: 250px; 
    box-sizing: border-box;
}

h1 {
    margin-left: 3.5em;
    display: inline;
    font-weight: 700;
    font-family: 'Oswald', sans-serif;
}

h2 { 
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    font-weight: 700; 
}

h3 {
    font-family: 'Oswald', sans-serif;
    font-size: 23px;
    font-weight: bold;
    margin:0;  
    padding-right: 2em;
    padding-bottom: 1em;
}

h4 {
    margin: 5px;
}

li {
    line-height: 1.5em;
    margin-bottom: .5em;
}
section {
    padding: 1em 10%;
    margin: 0;
}

p { 
    padding: 0;
    margin: 0 0 1em;
    line-height: 1.5em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

ul {
    padding: 15px;
}

iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.listDescriptions img {
    width: 100%;

}

footer {
    padding: 1em 10%;
    color: white;
     background-color: black;
    color:white;
    margin: 0;
    box-sizing: border-box;
}


/* reused colors patterns */

/* .sectionWhite {
    background-color: white;
    color:black;
}
.sectionBlack {
    background-color: black;
    color:white;
    margin: 0;
    box-sizing: border-box;
}

.infoBlack {
    background-color: black;
    color: white;
}

.infoWhite {
    background-color: white;
    color: black;
} */


/* layout section */

.topbar {
    background-color: black;
    color: white;
    position: sticky;
    top: 0px;
    position:-webkit-sticky;
    padding: 0.9em;
    margin: 0;
    justify-content: space-between;
    z-index: 100;
}

.topbar span {
    padding: 0px 5em;
    width: 30%;
    margin-left: 5em;
    margin-right: 1em;
}
.twoColumns {
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: 100%;
    background-color: white;
    margin: 0;
}

.threeColumns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2em;
    width: 100%;
    margin: 2em;
}


.fourColumns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 2em;
    width: 100%;
}

.insideColumn {
    margin: 0;
    box-sizing: border-box;
}


/* individual elements */
.eventThreeColumns {
    width: 100%;
    background-color: white;
    padding: 1em;
    margin-bottom: 1em;
    border: 1px solid black;
    display: grid;
    grid-template-columns: 1fr 6fr 4fr;
    grid-gap: 1em;
    box-shadow: -5px 5px black;
    box-sizing: border-box;
}

.event_detail {
    margin: 0;
}

.inquiry {
    display: block;
}

/* .videoBox {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    box-shadow: -3px 3px #000;
    border: 2px solid gray;
    width: 100%;
} */


.mainLists {
    width: 100%;
    background-color: white;
    box-sizing: border-box;
}
.listDescriptions {
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    padding-top: 0px;
}

.imageHover { 
    filter: grayscale(100%);
    width: 100%;
}


.imageHover:hover { 
    filter: grayscale(0)
}

.input_1 { 
    width: 30%;
    height: 30px;
    font-size: 15px;
    padding-left: 1em;
    margin-right: 1%;
    display: inline-block
}

textarea {
    width: 99%;
    height:60%;
    margin-bottom: 3%;
    font-size: inherit;
    border-style: inset;
    display: inline-block;
}

.input_2 { 
    width: 49%;
    height: 30px;
    margin-right: 3.7em;
    margin-bottom: 2em;
    font-size: 15px;
    display: inline-block;
}

.input_3 {
    width: 3%;
    height: 30px;
    display: inline-block
}

.submitButton {
    width: 30%;
    height: 35px;
    font-size: 15px;
    background-color:transparent;
}

.submitButton:hover {
    box-shadow: -5px 5px black;
    margin-left: 10px;
}

.personalInfo {
    box-sizing: border-box;
    margin-top: 2em;
    margin-bottom: 2em;
}

.agreeCondition {
    font-size: x-small;
}

.signUpButton {
    width: 100%;
    height: 35px;
    font-size: 15px;
    background-color: transparent;
    display: inline-block; 
}

.signUpButton:hover {
    box-shadow: -5px 5px black;
    margin-left: 10px;
}

.sendButton {
    width: 100%;
    height: 35px;
    font-size: 15px;
    background-color: transparent;
    display: inline-block; 
}
.sendButton:hover {
    box-shadow: -5px 5px black;
    margin-left: 10px;
}